html,body,div {background: #fff;}
.mc-container *{
	color:#666;
	font-size: 1em;
}

.mc-container{
	 padding-left: 10px;
	 padding-right: 10px;
	 
}
.mc-toolbar{
  height: 44px;
  padding-bottom: 30px;
  display: flex;
  background: #fff;
}
.mc-toolbar>span {
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.mc-toolbar>span:nth-of-type(1) {
	flex: 1;
}
.mc-toolbar>span:nth-of-type(1)>.iconfont {
	font-size: 24px;
	color: #666;
}
.mc-toolbar>span:nth-of-type(2) {
	flex: 6;
	color: #333;
}
.mc-toolbar>span:nth-of-type(3) {
	flex: 1;
}
.mc-table  {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  text-align: center;
  border-bottom: solid 1px #f0f0f0;
  background: #fff;
  
}


.mc-table-row  {
  height: 50px; 
}
.mc-table-head {
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	height: 30px; 
}

.mc-table-cell[disabled='disabled'] a  {
 	color:#dddddd;
}
.mc-cell-selected{
	background-color: #007AFF;
	border-radius: 30px;
	color:#CF2D28 ;
}
.mc-cell-selected a{
	color:#FFF ;
	font-size: 1.1em;
}
.mc-table-cell-today a {
 	color:#CF2D28;
}

#mc-btn-previous{
	height: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display:none;
	
}
#mc-btn-today{
	height: 30px;
	display:none;
}
#mc-btn-next{
	height: 30px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	display:none;
}
